<!doctype html>
<html lang="en">

<!-- The <head> el holds data about the page. It's not the page's "header!" -->
<head>
  <meta charset="utf-8"><!-- Always first. -->

  <!-- Title and description. -->
  <title>This is the title</title>
  <meta name="description" content="">

  <!-- Linked stylesheets. -->
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<!-- The <body> el holds the page's content. -->
<body>
  <header><!-- This is the page's header! -->
    <h1>A Basic HTML Template</h1>
  </header>

  <section class="content">
    <p>What a wonderful page...</p>
    <p>Explore it by opening <em>Chrome Dev Tools</em>, by typing <code>⌘⌥-i</code> (Cmd-Opt-i).
  </section>

  <hr>

  <footer>
    <span>
      See also: <a href="https://html5boilerplate.com">HTML5 Boilerplate</a>, and it's example
        <a href="https://github.com/h5bp/html5-boilerplate/blob/master/dist/index.html"><code>index.html</code></a>.
    </span>
  </footer>
</body>

</html>
