/*Style Sheet for project 1*/

/*////Entire page styles////*/

* {
  border: 1px dashed black;
  margin: 0 auto;
}

#screen {
  width: 800px;
  height: 700px;
  text-align: center;
  background-color: teal;
}

/*///Div containers in body of screen///*/

.categories{
  width: 600px;
  height:125px;
  background-color: blanchedalmond;
}

.mainContainer{
  width:800px;
  height: 575px;
}

.questionsSection{
  width: 600px;
  height: 275px;
  background-color: blanchedalmond;
}

.answersSection {
  width: 600px;
  height: 200px;
  background-color: blanchedalmond;
}

.scoreboard {
  width: 600px;
  height: 90px;
  background-color: blanchedalmond;
  margin: 0 auto;
}

/*///Div containers for frames in each body section///*/

/*///Category selector///*/
.option{
  text-align: center;
  padding: 10px;
}

/*////Question frame////*/
.question-frame{
  margin: 0 auto;
  margin-top: 25px;
  width: 500px;
  height: 225px;
  background-color: white;
}


/*////Answer frame////*/
.answer-frame{
  height: 150px;
  width: 500px;
  margin: 0 auto;
  margin-top: 25px;
  background-color: white;
  position: relative;
}

.answer{
  height: 25px;
  width: 125px;
  margin-left:200px;
  margin-top:50px;
  border-radius: 10px;
  /*margin: 5px 10px 10px 10px;*/
  position: absolute;
}

/*////Scoreboard////*/
.player{
  height: 50px;
  width: 225px;
  margin: 20px 5px 0px 5px;
  display: inline-block;
  background-color: white;
}

.score{
  height: 50px;
  width: 65px;
  background-color: grey;
  float: right;
}

.reset{
  height: 50px;
  width: 100px;
}
