/*Style Sheet for project 1*/

/*////Entire page styles////*/

* {
  border: 1px dashed black;
  margin: 0 auto;
}

#screen {
  width: 800px;
  height: 700px;
  text-align: center;
  background-color: teal;
}

/*///Div containers in body of screen///*/

header{
  height:50px;
  width: 600px;
  margin: 0 auto;
}

.categoriesBox{
  height:100px;
  width: 600px;
  background-color: blanchedalmond;
}

.mainContainer{
  width:800px;
  height: 575px;
}

.questionsSection{
  width: 600px;
  height: 200px;
  background-color: blanchedalmond;
}

.answersSection {
  width: 600px;
  height: 250px;
  background-color: blanchedalmond;
}

.alertSection{
  width: 600px;
  height: 90px;
  background-color: blanchedalmond;
  margin: 0 auto;
}

/*///Div containers for frames in each body section///*/

/*///Category selector///*/


.categoryHeader{
  text-align: center;
  height: 27px;
  padding-top: 7px;
  width: 500px;
  margin: 0 auto;
}

.option{
  text-align: center;
  height: 50px;
  width: 500px;
  padding-top: 15px;
  margin: -15px auto;
}


/*////Question frame////*/
.question-frame{
  margin: 0 auto;
  margin-top: 10px;
  width: 500px;
  height: 175px;
  background-color: white;
}
.question-html{
  width: 340px;
  height: 90px;
  margin: 0 auto;
  margin-top: 40px;
  padding-top: 5px;
  border-radius: 5px;
}



/*////Answer frame////*/
.answer-frame{
  height: 195px;
  width: 500px;
  margin: 0 auto;
  margin-top: 25px;
  background-color: white;
  position: relative;
}

.answer{
  height: 25px;
  width: 125px;
  margin-left:200px;
  margin-top:50px;
  border-radius: 10px;
  /*margin: 5px 10px 10px 10px;*/
  position: absolute;
}

/*////Alert Section////*/
.player{
  height: 50px;
  width: 225px;
  margin: 20px 5px 0px 5px;
  display: inline-block;
  background-color: white;
}

.score{
  height: 50px;
  width: 65px;
  background-color: grey;
  float: right;
}

.reset{
  height: 50px;
  width: 100px;
}

.player1ScoreMeter {
  height: 300px;
  width: 50px;
  background-color: white;
  display: inline-block;
  float: left;
  margin-left: 24px;
  margin-top: 150px;
}
